<!-- 15. Se hace referencia a Models-->
@using CoreBB.Web.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- 3. Se agregan carpetas content (con archivos Bootstrap y jQuery), carpetas Controllers, Models, Views-->
    <!-- 4. En Views, en la carpeta Shared, se agrega el archivo _Layout.cshtml y se agrega el siguiente código en <head>-->
    <script src="~/Content/jQuery/jquery-3.5.1.min.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.bundle.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    
</head>
<body>
    <!-- 16. Se agrega la siguiente etiqueta nav, para tener la barra de navegación-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">CoreBB</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Forum">Forums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Message">Messages</a>
                </li>
                @if (User.IsInRole(Roles.Administrator))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="User" asp-action="Index">Users</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Forum" asp-action="Create">Create Forum</a>
                        </div>
                    </li>
                }
            </ul>
            <div class="pull-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="LogIn">Log In</a>
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="Register">Register</a>
                    </div>
                }
                else
                {
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="Detail" asp-route-name="@User.Identity.Name">
                            My Account
                        </a>
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="LogOut">Log Out</a>
                    </div>
                }
            </div>
        </div>
    </nav>
    <!-- Fin 16.-->

    <div class="container">
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; 2020 - CoreBB</p>
    </footer>
</body>
</html>
