<!-- 20. Al realizar click derecho en el método AccesDenied() del controlador HomeController, se genera nueva vista, se crea
    // automáticamente la carpeta Error en Views, y se agrega manualmente el siguiente código
    -->
@{ 
    ViewBag.Title = "Access Denied";
}
<h2>Access Denied</h2>
<p>
    <strong class="alert-warning">Usted no está autorizado para acceder a este recurso.</strong>
</p>

